<h1> are you sure you want to sign out ...? look at these great spaces </h1>

<form action="/sessions" method='post' class='logout'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value="Sign out"></button>
</form>
