<h1> Enter space details</h1>
<form action='/spaces' method='post'>
  <label for='space'>
  Space:
  <input name='space' type='text' required>
  </label>
  <input type='submit' value='List space'>
</form>
