<% if !current_user %>
  You can't book without signing in
<% else %>
 <h1> Book Space </h1>
 <div class="listing">
   <h2><%= @space.name %></h2>
   <p> Description: </p> <p><%= @space.description %> </p>
   <p> Price per Night: <%= @space.price %> </p>
 	<!-- <p> Availability: </p>
   <% @space.availabilities.each do |availability| %>
     <%= availability.date.strftime('%d/%m/%Y') %>,
   <% end %> -->
 </div>

 <form action='/bookings' method='post' class='book'>
   <label for='date from'>
     Date from: <input name='date from' type='date'>
   </label>
   <label for='date to'>
     Date to: <input name='date to' type='date'>
   </label>
   <input type='submit' value='Request to book'>
 </form>
<% end %>
