<h2> You have successfully paid £<%= @space.price %> per night for <%= @space.name %> </h2>
<center>
<iframe src="https://giphy.com/embed/w2JmkbOHFoq8U" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a href="https://giphy.com/gifs/cat-w2JmkbOHFoq8U"></a>
<iframe src="https://giphy.com/embed/eDdEiM0Jq8Ene" width="480" height="323" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a href="https://giphy.com/gifs/cat-money-eDdEiM0Jq8Ene"></a>
</center>
