<% if flash[:errors] && !flash[:errors].empty? %>
  <div class='alert alert-success'>
    Sorry, we need to try again:
    <% flash[:errors].each do |e| %>
      <li><%= e %></li>
    <% end %>
</div>
<% end %>
<%if flash[:notice]%>
<%= flash[:notice] %>
<% end %>


<% if current_user %>
  <h1> Welcome,  <%= current_user.name %></h1>
  <form action="/sessions" method='post' class='logout'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value="Sign out"></button>
    </form>
<% end %>

<%= yield%>
