<!DOCTYPE html>
<html>
  <head>
    <title> DwellBnB </title>
    <link href='/css/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="image">
  <nav>
    <ul id='navigation'>
      <li><a href="/">Home</a></li>
      <li><a href="/spaces">View available spaces</a></li>
      <li><a href="/bookings/new">Make a booking</a></li>
      <li><a href="/spaces/new">List a space</a></li>

      <% if !current_user %>
        <li><a href="/sessions/new">Sign in</a></li>
        <li><a href="/users/new">Sign up</a></li>
      <% end %>

      <% if current_user %>
      <li><a href="/sessions/sign_out">Sign out</a></li>
      <% end %>
    </ul>
  </nav>

<% if flash[:errors] && !flash[:errors].empty? %>
  <div class='alert alert-success'>
    Sorry, we need to try again:
    <br>
    <% flash[:errors].each do |e| %>
      <p></p>
      <%= e %>
    <% end %>
  </div>
<% end %>

<%if flash[:notice]%>
  <div class='alert alert-success'>
  <%= flash[:notice] %>
    </div>
<% end %>

<% if current_user %>
<br></br>
  <h1> Hello  <%= current_user.name %>!</h1>
   <h2> Welcome to DwellBnB </h2>
<% end %>

  <%= yield%>

</body>
</html>
